.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.searchInput {
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 76%);
  font-size: 1.4rem;
}

.searchInput::placeholder {
  font-size: 1.6rem;
  color: #b9b9b9;
}
