.container {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: #545454;
}

.tokenRow {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 8rem;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
}

.tokenListing {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  flex: 1;
}

.tokenFav {
  align-self: center;
  display: flex;
  padding-right: 0.6rem;
}

.tokenFavIcon {
  color: #f6d30c;
  cursor: pointer;
}

.tokenRank {
  color: #808a9d;
}

.token {
  display: flex;
  align-items: center;
  flex: 4;
}

.tokenSymbol {
  padding-left: 1rem;
  color: #808a9d;
}

.tokenData {
  display: flex;
  justify-content: space-between;
  flex: 8;
}

.tokenData > p {
  flex: 1;
}

.tokenPriceDown {
  color: #ee727a;
}

.tokenPriceUp {
  color: #16c784;
}
